* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border-radius: 6px;
    line-height: 32px;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid #868686;

    h1 {
        margin-top: 40px;
    }

    li {
        list-style: none;
    }
}

.principal {
    background-color: #7740f9;
    border-radius: 6px;
    line-height: 32px;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid #b393ff;
    color: #fff;

    h1 {
        margin-top: 30px;
        background-color: #7740f9;
    }

    li {
        list-style: none;
        background-color: #7740f9;
    }

    p {
        background-color: #7740f9;
    }

    button {
        background-color: #b393ff;

        &:hover {
            background-color: #fff;
        }
    }
}

.container {
    margin: 0 auto;
    margin-top: 80px;
    height: 540px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.text {
    margin-top: 100px;

    p {
        font-size: 26px;
    }
}

button {
    margin-top: 110px;
    border-radius: 6px;
    width: 75%;
    height: 40px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    background-color: #7740f9;
    ;
    color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #b393ff;
        border: 1px solid #7740f9;
        color: black;
    }
}