* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border-radius: 6px;
    line-height: 32px;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid black;
}

.container {
    margin-top: 50px;
    height: 525px;
    display: flex;
    justify-content: space-around;
}

.text {
    margin-top: 150px;
    p {
        font-size: 26px;
        margin-bottom: 8px;
    }
}

button {
    margin-top: 110px;
    border-radius: 6px;
    width: 225px;
    height: 40px;
    border: none;
    background-color: #7740f9;
    color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #b393ff;
        border: 1px solid #7740f9;
        color: black;
    }
}

li {
    list-style: none;
}